@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes spinnerOpacity {
  0%, 85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10001;
  opacity: 1;
  overflow: hidden;
  background: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinnerOpacity 3s linear both;
}

.loader {
  position: relative;
  width: 13rem;
}
.loader:before {
  content: "";
  padding-top: 100%;
  display: block;
}
.loader__animated {
  clip-path: inset(100% 0 0 0);
  animation: loader 3s ease-in infinite;
}
.loader h1 {
  text-align: center;
  font-size: 2rem;
  margin-left: -12px;
}
.loader img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loader {
  0% {
    clip-path: inset(100% 0 0 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(100% 0 0 0 0);
  }
}
.fa-heart {
  display: flex;
  font-size: 3em;
  color: transparent;
  -webkit-text-stroke: 2px black;
  opacity: 0.6;
}
.fa-heart:hover {
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 1500ms ease-in-out;
}

.container .menus {
  -webkit-animation: menus 1.2s ease-in-out both;
  animation: menus 1.2s ease-in-out both;
}
.container .menus:nth-child(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.container .menus:nth-child(2) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.container .menus:nth-child(3) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6;
}
.container .menus:nth-child(4) {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

@-webkit-keyframes menus {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes menus {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.button {
  transition: 300ms ease-in-out;
}
@media all and (min-width: 1590px) {
  .button:hover {
    transform: scale(1.08);
  }
}
@media all and (min-width: 1125px) {
  .button:hover {
    transform: scale(1.08);
  }
}

.restaurant {
  transition: 300ms ease-in-out;
}
@media all and (min-width: 1590px) {
  .restaurant:hover {
    transform: scale(1.08);
  }
}
@media all and (min-width: 1125px) {
  .restaurant:hover {
    transform: scale(1.08);
  }
}

.plat {
  transition: 300ms ease-in-out;
}
@media all and (min-width: 1590px) {
  .plat:hover {
    background-color: #ece1f9;
    box-shadow: 0.5rem 0.5rem 0.4rem #d8d8d8, -1px -4px 2px #efefef;
  }
}
@media all and (min-width: 1125px) {
  .plat:hover {
    background-color: #ece1f9;
    box-shadow: 0.5rem 0.5rem 0.4rem #d8d8d8, -1px -4px 2px #efefef;
  }
}

.howToUse li {
  transition: 300ms ease-in-out;
}
@media all and (min-width: 1590px) {
  .howToUse li:hover {
    transform: scale(1.05);
  }
}
@media all and (min-width: 1125px) {
  .howToUse li:hover {
    transform: scale(1.05);
  }
}

.price {
  transform: translateX(0%);
  transition: transform 0.4s;
}

.plat {
  position: relative;
}
.plat .checkBox {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  height: 72.5px;
  width: 70px;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 2px 5px 5px #d8d8d8, -2px 0 5px #d8d8d8;
  background-color: #99e2d0;
  transform: translateX(100%);
  transition: transform 0.4s;
}
.plat .checkBox .fa-check-circle {
  cursor: pointer;
  margin: auto;
  font-size: 1.6rem;
  color: white;
  transform: rotate(0);
  transition: transform 0.5s;
}
.plat:hover .price {
  transform: translateX(-63px);
}
.plat:hover p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plat:hover .checkBox {
  transform: translateX(0%);
}
.plat:hover .checkBox .fa-check-circle {
  transform: rotate(360deg);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: initial;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media all and (min-width: 1590px) {
  .main {
    width: 100%;
  }
}

.intro {
  background-color: #efefef;
  text-align: center;
  line-height: 1.5em;
  color: #353535;
  padding: 3em 0.5em;
}
.intro--tablet {
  display: none;
}
.intro--mobile {
  display: block;
}
@media all and (min-width: 1590px) {
  .intro {
    width: 100%;
    height: 250px;
    margin: 0 0 10px 0;
  }
}

.howToUse {
  padding-left: 0;
  margin-bottom: 2rem;
  margin: 0 auto;
}
@media all and (min-width: 1125px) {
  .howToUse {
    margin-bottom: 60px;
  }
}
@media all and (min-width: 1590px) {
  .howToUse {
    margin-bottom: 40px;
  }
}
.howToUse h2 {
  padding-top: 22px;
  margin-left: 1rem;
}
@media all and (min-width: 742px) {
  .howToUse h2 {
    text-align: center;
  }
}
@media all and (min-width: 1125px) {
  .howToUse h2 {
    text-align: center;
    margin: 35px 0;
  }
}
@media all and (min-width: 1590px) {
  .howToUse h2 {
    text-align: center;
    margin: 35px 0;
  }
}
.howToUse i {
  padding-left: 25px;
  padding-right: 25px;
}
.howToUse ol {
  padding-left: 0;
  list-style: none;
  counter-reset: li;
  white-space: nowrap;
}
@media all and (min-width: 1590px) {
  .howToUse ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
  }
}
@media all and (min-width: 1125px) {
  .howToUse ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
  }
}
.howToUse ol p {
  display: inline-block;
  width: 300px;
  margin: auto;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #efefef;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 1.5rem;
  box-shadow: 0.4rem 0.4rem 0.5rem #d8d8d8, -1px -4px 4px #efefef;
}
@media all and (min-width: 1590px) {
  .howToUse ol p {
    min-height: 1.8rem;
  }
}
.howToUse ol p:hover {
  background-color: #ece1f9;
  box-shadow: 0.5rem 0.5rem 0.4rem #d8d8d8, -1px -4px 2px #efefef;
}
.howToUse ol p:hover i {
  color: #9356dc;
}
.howToUse ol li {
  margin-left: 10px;
  margin-right: auto;
  counter-increment: li;
  cursor: pointer;
}
.howToUse ol i {
  font-size: 1.2rem;
  padding-left: 30px;
  padding-right: 20px;
  color: #353535;
}
.howToUse ol li::before {
  content: counter(li);
  position: relative;
  left: 0.2rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  background-color: #9356dc;
  border-radius: 50%;
}

.imgRestaurant {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.sectionRestaurant {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding-bottom: 60px;
}
@media all and (min-width: 1125px) {
  .sectionRestaurant {
    min-width: 100%;
    height: fit-content;
    margin: 2px 0;
  }
}
@media all and (min-width: 1590px) {
  .sectionRestaurant {
    min-width: 100%;
    height: 500px;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
.sectionRestaurant__box {
  width: 100%;
}
@media all and (min-width: 1125px) {
  .sectionRestaurant__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media all and (min-width: 1590px) {
  .sectionRestaurant__box {
    width: auto;
    min-height: auto;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: none;
    grid-column-gap: none;
  }
}
@media all and (min-width: 1125px) {
  .sectionRestaurant__box a {
    padding: 2px 40px;
  }
}
@media all and (min-width: 1590px) {
  .sectionRestaurant__box a {
    margin: 0 10px;
    padding: 0;
  }
}
.sectionRestaurant h2 {
  padding-top: 0px;
  padding-left: 25px;
}
@media all and (min-width: 742px) {
  .sectionRestaurant {
    width: 38rem;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 40px;
    box-shadow: 0.4rem 0.4rem 0.5rem #d8d8d8, -1px -4px 4px #efefef;
  }
  .sectionRestaurant h2 {
    padding-left: 2vh;
  }
}
@media all and (min-width: 742px) and (min-width: 1125px) {
  .sectionRestaurant h2 {
    padding-left: 0px;
    margin: 40px 0;
  }
}
.sectionRestaurant .restaurant {
  width: 90%;
  min-width: 20vmax;
  margin-left: auto;
  margin-right: auto;
}
.sectionRestaurant .restaurant__img {
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 180px;
}
.sectionRestaurant .restaurant__img .nouveauLogo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  color: #2c9c81;
  background-color: #99e2d0;
  font-weight: bold;
  border-radius: 4px;
}
.sectionRestaurant .restaurant__desc {
  width: 98.6%;
  cursor: pointer;
  position: relative;
  border-radius: 0 0 1rem 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.1rem;
  margin-bottom: 10px;
  padding-left: 7px;
  background-color: white;
  font-size: 1.2rem;
  box-shadow: 2px 5px 5px #d8d8d8, -2px 0 5px #d8d8d8;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.sectionRestaurant .restaurant__desc h3 {
  margin-top: 5px;
  margin-bottom: 1px;
  color: #353535;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sectionRestaurant .restaurant__desc .restaurantSub {
  display: flex;
  justify-content: space-between;
}
.sectionRestaurant .restaurant__desc .restaurantSub p {
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 5px;
  color: #353535;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sectionRestaurant .restaurant__desc .heart {
  position: absolute;
  right: 1.8rem;
  top: 2rem;
  font-size: 10px;
  height: auto;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2, h3, h4, h5, p, li, div, a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 13rem;
  padding: 0.3rem;
  line-height: 3em;
  border-radius: 10rem;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 550;
  background: linear-gradient(to top left, #9356dc 22%, #ff79da);
  box-shadow: 2px 8px 8px #d8d8d8;
}
.button:hover {
  background: linear-gradient(to top left, #9356dc 10%, #ff79da);
}

.btnBackground {
  background-color: #efefef;
  padding: 6px 0 50px 0;
}

header {
  position: relative;
  text-align: center;
}
@media all and (min-width: 1590px) {
  header {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: baseline;
    padding-top: 20px;
  }
}
header h1 {
  margin: 10px auto;
}
@media all and (min-width: 1590px) {
  header h1 {
    font-size: 2.3rem;
    margin: 0 68% 0 80px;
  }
}
header a {
  color: black;
}
header .fa-arrow-left {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  left: 2rem;
  top: 0.8rem;
}
@media all and (min-width: 1590px) {
  header .fa-arrow-left {
    top: 2.1rem;
  }
}
header .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  color: #353535;
  font-size: 1.2em;
  background-color: #d8d8d8;
  box-shadow: inset 0 2px 4px -3px #353535;
}
header .localisation p {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 0.2rem;
}
@media all and (min-width: 1590px) {
  header .localisation p {
    padding-bottom: 3px;
  }
}
@media all and (min-width: 1590px) {
  header .localisation {
    width: 200px;
    height: 35px;
    font-size: 1em;
    border-radius: 10px;
  }
}
header .localisation i {
  font-size: 1rem;
  padding-right: 20px;
}
@media all and (min-width: 742px) {
  header .localisation i {
    padding-left: 0;
  }
}

footer {
  background-color: #353535;
  padding: 30px 0 30px 0;
  font-size: 1.2rem;
  color: white;
  box-shadow: 0.4rem 0.4rem 0.5rem #d8d8d8, -1px -4px 4px #efefef;
}
@media all and (min-width: 742px) {
  footer {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}
@media all and (min-width: 1125px) {
  footer {
    width: 100%;
    border-radius: 0px;
  }
}
@media all and (min-width: 1590px) {
  footer {
    width: 100%;
    border-radius: 0px;
  }
}
footer span {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 40px;
}
footer ul {
  list-style: none;
  line-height: 1rem;
}
footer i {
  font-size: 1.2rem;
  width: 1.2rem;
  color: white;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
footer a {
  color: white;
  font-style: normal;
}

@media all and (min-width: 742px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.container--menuDesc .menus {
  margin-bottom: 3rem;
}
@media all and (min-width: 1590px) {
  .container--menuDesc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

html {
  width: 100%;
  height: auto;
}

main .menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: baseline;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  height: auto;
  margin-top: -5em;
  background-color: #efefef;
  border-radius: 3rem 3rem 0 0;
}
main .menu h2 {
  font-family: "Shrikhand", cursive;
  padding-top: 10px;
  font-size: 1.7em;
  font-weight: normal;
  margin: 20px 10px;
}
main .menu .heart {
  position: relative;
  float: right;
  padding-left: 50px;
  font-size: 8px;
  height: auto;
}
main.menuPage {
  margin: 0px;
}
main .imgResto {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
main .plat {
  width: 87%;
  height: 40px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 8px;
  background-color: white;
  font-size: 1rem;
  box-shadow: 2px 5px 5px #d8d8d8, -2px 0 5px #d8d8d8;
  overflow: hidden;
}
@media all and (min-width: 742px) {
  main .plat {
    width: 700px;
  }
}
@media all and (min-width: 1125px) {
  main .plat {
    width: 300px;
  }
}
@media all and (min-width: 1590px) {
  main .plat {
    width: 450px;
  }
}
main .plat h3 {
  margin: 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .plat p {
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .plat__subtitle {
  display: grid;
  font-size: 0.93rem;
  grid-template-columns: 2fr 1fr;
  margin-top: -13px;
}
main .plat__subtitle .price {
  font-weight: bold;
  text-align: right;
  margin-right: 0;
}
@media all and (min-width: 742px) {
  main section .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media all and (min-width: 1125px) {
  main section .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 20px;
  }
}
@media all and (min-width: 1590px) {
  main section .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 20px;
  }
}
main section .menus {
  margin: 20px auto 0;
}
main .recipeType {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
@media all and (min-width: 1590px) {
  main .recipeType {
    max-width: 35rem;
  }
}
main .recipeType span {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.05rem;
  font-weight: normal;
}
main .recipeType__underline {
  margin-top: 2px;
  margin-bottom: 32px;
  width: 45px;
  border-top: 3px solid #99e2d0;
}

/*# sourceMappingURL=style.css.map */
