// ********** General **********

html {
    scroll-behavior: smooth;
  }
  

body {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: initial;
  }

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include desktop {
        width: 100%;
    }
}


// ********** Introduction **********

.intro {
    background-color: $color-grey3;
    text-align: center;
    line-height: 1.5em;
    color: $color-grey1;
    padding: 3em 0.5em;

    &--tablet{
        display: none;
    }

    &--mobile{
        display:block;
    }

    @include desktop {
        width: 100%;
        height: 250px;
        margin: 0 0 10px 0;
    }
}


// ********** "How to use" section **********

.howToUse {
    padding-left: 0;
    margin-bottom: 2rem;
    margin: 0 auto;

    @include intermediate {
        margin-bottom: 60px;
    }

    @include desktop {
        margin-bottom: 40px;
    }

    & h2 {
        padding-top: 22px;
        margin-left: 1rem;

        @include tablet {
            text-align: center;
        }

        @include intermediate {
            text-align: center;
            margin: 35px 0;
        }

        @include desktop {
            text-align: center;
            margin: 35px 0;
        }
    }

    & i {
        padding-left: 25px;
        padding-right: 25px;
    }

    & ol {
        padding-left: 0;
        list-style: none;
        counter-reset: li;
        white-space: nowrap;

        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 20px;
        }

        @include intermediate {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-bottom: 20px;
        }
    

        & p {
            display: inline-block;
            width: 300px;
            margin: auto;
            padding-top: 1.8rem;
            padding-bottom: 1.8rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color:  $color-grey3;
            font-weight: bold;
            font-size: 1.1rem;
            border-radius: map-get($radius, choices);
            box-shadow: 0.4rem 0.4rem 0.5rem $color-grey2, -1px -4px 4px $color-grey3;
            
            @include desktop {
                min-height: 1.8rem;
            }

            &:hover {
                background-color: lighten($color-primary, 33%);
                box-shadow: 0.5rem 0.5rem 0.4rem $color-grey2, -1px -4px 2px $color-grey3;
                
                & i {
                    color: $color-primary;
                }
            }
        }


// ********** "How to use" li settings **********

        & li {
            margin-left: auto;
            margin-right: auto;
            counter-increment: li;
            cursor: pointer;
        }

        & i {
            font-size: 1.2rem;
            padding-left: 30px;
            padding-right: 20px;
            color: $color-grey1;
        }

        & li::before {
            content: counter(li);
            position: relative;
            left: 0.2rem;
            color: white;
            font-size: 1.2rem;
            padding: 0.2rem 0.6rem;
            background-color: $color-primary;
            border-radius: 50%;            
        }
    }
}


// ********** Restaurant section **********

.imgRestaurant {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: map-get($radius,menu) map-get($radius,menu) 0 0;
}
.sectionRestaurant {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: $color-grey3;
    padding-bottom: 60px;
    
    @include intermediate {
        min-width: 100%;
        height:fit-content;
        margin: 2px 0;
    }
    
    @include desktop {
        min-width: 100%;
        height: 500px;
        border-radius: 0px;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    &__box {
        width: 100%;

        @include intermediate{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include desktop {
        width: auto;
        min-height: auto;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: none;
        grid-column-gap: none;
    }

    & a {
        @include intermediate {
            padding: 2px 40px;
        }

        @include desktop {
            margin: 0 10px;
            padding: 0;
        }
    }

    }

    & h2 {
        padding-top: 0px;
        padding-left: 25px;
    }
    
    @include tablet {
        width: 38rem;
        align-items: center;
        border-radius: 25px;
        margin-bottom: 40px;
        box-shadow: 0.4rem 0.4rem 0.5rem $color-grey2, -1px -4px 4px $color-grey3;
        
        & h2{
            padding-left: 2vh;

            @include intermediate {
                padding-left: 0px;
                margin: 40px 0;
            }
        }
    }
    

    & .restaurant {
        width: 90%;
        min-width: 20vmax;
        margin-left: auto;
        margin-right: auto;

        &__img {
            cursor: pointer;
            position: relative;
            margin-top: 15px;
            width: 100%;
            height: 180px;

            & .nouveauLogo {
                position: absolute;
                right: 10px;
                top: 10px;
                width: 90px;
                height: 30px;
                text-align: center;
                line-height: 1.8;
                color: darken($color-tertiary, 35%);
                background-color: $color-tertiary;
                font-weight: bold;
                border-radius: 4px;
            }
        }
        
        &__desc { 
            width: 98.6%;
            cursor: pointer;
            position: relative;
            border-radius: 0 0 map-get($radius,menu) map-get($radius,menu);
            padding-top: 0.6rem;
            padding-bottom: 0.1rem;
            margin-bottom: 10px;
            padding-left: 7px;
            background-color: white;
            font-size: 1.2rem;
            box-shadow: 2px 5px 5px $color-grey2, -2px 0 5px $color-grey2;
            display: flex;
            align-items: stretch;
            overflow: hidden;

            & h3 {
                margin-top: 5px;
                margin-bottom: 1px;
                color:$color-grey1;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & .restaurantSub {
                display: flex;
                justify-content: space-between;
                
                & p {
                    margin-top: 1px;
                    margin-bottom: 2px;
                    margin-left: 5px;
                    color:$color-grey1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            & .heart{
                position: absolute;
                right: 1.8rem;
                top: 2rem;
                font-size: 10px;
                height: auto;
            }
        }
    }        
}
