html {
    width: 100%;
    height: auto;
}

main {

    & #imgResto1 {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: map-get($radius,menu) map-get($radius,menu) 0 0;
    }

    & #imgResto2 {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: map-get($radius,menu) map-get($radius,menu) 0 0;
    }

    & #imgResto3 {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: map-get($radius,menu) map-get($radius,menu) 0 0;
    }

    & #imgResto4 {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: map-get($radius,menu) map-get($radius,menu) 0 0;
    }

    & .menu {
        box-sizing: border-box;
        width: 100%;
        height: 1370px;
        padding: 35px 0 0 25px;
        bottom: 0;
        background-color: $color-grey3;
        border-radius: map-get($radius, tag) map-get($radius, tag) 0 0;

        & h1 {
            padding-left: 20px;
            padding-bottom: 0px;
            padding-top: 12px
        }

        & .heart {
            position: absolute;
            right: 3vw;
            top: 1.2rem;
            font-size: 10px;
            height: auto;
        }
    }

    & .recipeType {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        @include desktop {
            max-width: 35rem;
        }

        & span {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: normal;
        }

        & .underline {
            margin-top: 2px;
            margin-bottom: 32px;
            width: 35px;
            border-top: 3px solid $color-tertiary;
        }
    } 
}