html {
    width: 100%;
    height: auto;
}

main {

    & #imgResto1 {
        width: 100%;
        height: 21rem;
        object-fit: cover;
    }

    & #imgResto2 {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    & #imgResto3 {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    & #imgResto4 {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    & .plat {
        width: 412px;
        height: 50px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        cursor: pointer;
        border-radius: map-get($radius,menu);
        padding: 1rem;
        margin: 1rem 8px;
        background-color: white;
        font-size: 1rem;
        box-shadow: 2px 5px 5px $color-grey2, -2px 0 5px $color-grey2;
        overflow: hidden;

        @include intermediate {
            width: 600px;
        }

        @include desktop {
            width: 412px;
        }

        & h3 {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; 
        }

        & .subtitle {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-top: -13px;

            & .price {
                font-weight: bold;
                text-align: right;
            }
        }
    }

    & .menu {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        align-items: baseline;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        min-width: 100%;
        height: auto;
        margin-top: -5em;
        background-color: $color-grey3;
        border-radius: map-get($radius, tag) map-get($radius, tag) 0 0;

        & h2 {
            font-family: $font-logo;
            font-size: 2em;
            font-weight: normal;
            margin: 20px 10px;
        }

        & .heart {
            position: relative;
            float: right;
            padding-left: 80px;
            right: 3vw;
            font-size: 10px;
            height: auto;
        }
    }

    & section {
        margin-bottom: 40px;
        
        & .container {
            @include tablet {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
            }
    
            @include intermediate {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);
                padding-bottom: 20px;
            }
            
            @include desktop {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                padding-bottom: 20px;
            }
        }

        & .menus {
            margin: 20px auto 0;
        }
    }

    & .recipeType {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        @include desktop {
            max-width: 35rem;
        }

        & span {
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: normal;
        }

        & .underline {
            margin-top: 2px;
            margin-bottom: 32px;
            width: 45px;
            border-top: 3px solid $color-tertiary;
        }
    } 
}