.fa-heart {	
    display:flex;
      font-size: 3em;
      color:transparent;
      -webkit-text-stroke:2px black;
      opacity:0.3;
      
      &:hover {
      background:linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -webkit-text-stroke: 0px;
      opacity:1;
      transition: all 1200ms ease-in-out;
      }
  }

  .restaurant {
    transition: 400ms ease-in-out;
  
  &:hover {
    @include desktop {
    transform: scale(1.08);
    }
  }
}

.howToUse {
  & li {
    transition: 400ms ease-in-out;

    &:hover{
      @include desktop {
        transform: scale(1.05);
    }
  }
}
}


// Loading Spinner

@keyframes spinnerOpacity {
  0%, 80%{
      opacity:1;
  }
  100%{
      opacity:0;
  }
  
}

.wrapper{
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 10001;
  opacity: 1;
  overflow: hidden;
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinnerOpacity 3s linear both;
}

.loader{
  position: relative;
  width: 40%;
  
  &:before{
    content: "";
    padding-top: 100%;
    display: block;
  }
  
  &__animated{
    clip-path: inset(100% 0 0 0);
    animation: loader 3s ease-in infinite;
  }
  
  & h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: -10px;

    @include tablet {
      font-size: 5rem;
      margin-top: -50px;
    }

    @include desktop {
      margin-top: -130px;
      font-size: 5rem;
    }
  }

  img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@keyframes loader{
  0%{
   clip-path: inset(100% 0 0 0);
  }
  50%{
   clip-path: inset(0 0 0 0);
  }
  100%{
   clip-path: inset(100% 0 0 0 0);
  }
}

