// Loading Spinner

@keyframes spinnerOpacity {
  0%, 85%{
      opacity:1;
  }
  100%{
      opacity:0;
  }
  
}

.wrapper{
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 10001;
  opacity: 1;
  overflow: hidden;
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinnerOpacity 3s linear both;
}

.loader{
  position: relative;
  width: 40%;

  @include tablet{
    width: 20%;
  }
  
  @include intermediate {
    width: 17%;
  }

  @include desktop {
    width: 15%;
  }

  &:before{
    content: "";
    padding-top: 100%;
    display: block;
  }
  
  &__animated{
    clip-path: inset(100% 0 0 0);
    animation: loader 3s ease-in infinite;
  }
  
  & h1 {
    text-align: center;
    font-size: 2rem;
    margin-left: -12px;
    
    @include tablet {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    @include intermediate {
      font-size: 2.5rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop {
      font-size: 2.7rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@keyframes loader{
  0%{
   clip-path: inset(100% 0 0 0);
  }
  50%{
   clip-path: inset(0 0 0 0);
  }
  100%{
   clip-path: inset(100% 0 0 0 0);
  }
}


// Heart Animation

.fa-heart {	
    display:flex;
      font-size: 3em;
      color:transparent;
      -webkit-text-stroke:2px black;
      opacity:0.3;
      
      &:hover {
      background:linear-gradient(#FF79DA, #9356DC);
      -webkit-background-clip: text;
      -webkit-text-stroke: 0px;
      opacity:1;
      transition: all 1200ms ease-in-out;
      }
  }


// Menu apparition

.menus {

  &:nth-child(1) {
    animation-delay: 0s;
-webkit-animation-delay: 0s;
}
  &:nth-child(2) {
    animation-delay: 0.3s;
-webkit-animation-delay: 0.3s;

}
  &:nth-child(3) {
    animation-delay: 0.6s;
-webkit-animation-delay: 0.6;
}
  &:nth-child(4) {
    animation-delay: 0.9s;
-webkit-animation-delay: 0.9s;
}
    -webkit-animation: menus 1.2s ease-in-out both;
    animation: menus 1.2s ease-in-out both;
}

@-webkit-keyframes menus {
  0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
  }
}

@keyframes menus {
  0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
  }
}


// Hover Animation


.button {
  transition: 400ms ease-in-out;

&:hover {
  @include desktop {
  transform: scale(1.08);
  }
  
  @include intermediate {
    transform: scale(1.08);
  }
}
}

.restaurant {
  transition: 400ms ease-in-out;

&:hover {
  @include desktop {
  transform: scale(1.08);
  }

  @include intermediate {
    transform: scale(1.08);
  }
}
}

.plat {
transition: 400ms ease-in-out;

&:hover {
  @include desktop {
  transform: scale(1.08);
  background-color: lighten($color-primary, 33%);
  box-shadow: 0.5rem 0.5rem 0.4rem $color-grey2, -1px -4px 2px $color-grey3;
  }
  
  @include intermediate {
    transform: scale(1.08);
    background-color: lighten($color-primary, 33%);
    box-shadow: 0.5rem 0.5rem 0.4rem $color-grey2, -1px -4px 2px $color-grey3;
    }
}
}

.howToUse {
& li {
  transition: 400ms ease-in-out;

  &:hover{
    @include desktop {
      transform: scale(1.05);
  }

  @include intermediate {
    transform: scale(1.05);
      }
    }
  }
}


// Course Animation

